*.DS_Store
*.class
*.log
*~

# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# vs code
.vscode

# scala 3
.tasty

# sbt
dist/*
target/
lib_managed/
src_managed/
project/project/
project/target/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.settings
classes/

# idea
.idea
.idea_modules
/.worksheet/